@import 'variables';

#main-nav{
    background-color: #007100;
    
    ul{
        padding: 20px 0;
        
        li{
            display: inline-block;
            a{
                color: #ff0000;
                text-decoration: none;
                padding: 15px;
                &:hover{
                    color: blue;
                }
            }
        }
    }
}